@import "./common/common";
@import "./components/index";
@import "./color/color";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
}
.padding{
    padding-top: 2rem;
}
.des-common {
    font-size: 1.4rem;
    color: #4f4f4f;
    line-height: 2rem;
}
.border-right {
    border-right: 1px solid #e5e5e5;
}