@import "../../color/color";
.box-cates {
    padding-bottom: 1.5rem;
}
.box-wrapper {
    border-bottom: 1px solid $border;
    padding-bottom: 1.5rem;
}
.box-title-cates {
    display: block;
    font-size: 1.8rem;
    color: #2222;
    margin-bottom: 2rem;
    font-weight: 700;
}
.cate-content {
    min-height: 200px;
}
.group-cates {
    display: flex;
    align-items: center;
    .item-cate:not(:first-child) {
        margin-left: 16px;
        font-size: 1.4rem;
        margin-top: 5px;
        .cate-link {
            display: inline-block;
            color: $primary-text;
            font-weight: 500;
            &:hover {
                color: $hover-title;
            }
        }
    }
}
.cate-image-left .news-image-left-link img {
    height: 180px;
    width: 330px;
    object-fit: cover;
}
.cates-top-border {
    border-right: 1px solid #e5e5e5;
}
.item-cate-home {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: $primary;
        bottom: -8px;
    }
    .cate-link-home {
        color: rgb(3, 3, 3);
        &:hover {
            color: $hover-title;
        }
    }
}
